In [1]:
import duckdb
import pandas as pd

%load_ext sql

In [2]:
bigmac = pd.read_csv("data/bigmac.csv")

In [24]:
query = """
SELECT 
    CAST(date AS date),
    name,
    dollar_price
FROM 
    bigmac
WHERE 
    date >= '2023-01-01'
ORDER BY 
    dollar_price DESC
;
"""

duckdb.sql(query)

┌────────────────────┬───────────────┬──────────────────┐
│ CAST(date AS DATE) │     name      │   dollar_price   │
│        date        │    varchar    │      double      │
├────────────────────┼───────────────┼──────────────────┤
│ 2023-01-01         │ Switzerland   │ 7.25775876076477 │
│ 2023-01-01         │ Uruguay       │ 6.84984025559105 │
│ 2023-01-01         │ Norway        │ 6.58951861032121 │
│ 2023-01-01         │ Sweden        │ 5.61896744131409 │
│ 2023-01-01         │ Denmark       │ 5.40927764213974 │
│ 2023-01-01         │ United States │             5.36 │
│ 2023-01-01         │ Argentina     │ 5.30593737098925 │
│ 2023-01-01         │ Euro area     │ 5.28548123980424 │
│ 2023-01-01         │ Australia     │ 5.11088750000001 │
│ 2023-01-01         │ Saudi Arabia  │ 5.06059395392196 │
│     ·              │     ·         │         ·        │
│     ·              │     ·         │         ·        │
│     ·              │     ·         │         ·        │
│ 2023-01-01         │ Azerbaijan    │ 2.87812041116006 │
│ 2023-01-01         │ Philippines   │ 2.84743271792046 │
│ 2023-01-01         │ Romania       │ 2.72193146486385 │
│ 2023-01-01         │ Venezuela     │ 2.71874290736475 │
│ 2023-01-01         │ Hong Kong     │ 2.68175258916827 │
│ 2023-01-01         │ India         │ 2.53319463990699 │
│ 2023-01-01         │ Ukraine       │ 2.49207682097679 │
│ 2023-01-01         │ Taiwan        │ 2.46962362935889 │
│ 2023-01-01         │ Indonesia     │ 2.35096557514694 │
│ 2023-01-01         │ Egypt         │ 1.84285474953929 │
├────────────────────┴───────────────┴──────────────────┤
│ 55 rows (20 shown)                          3 columns │
└───────────────────────────────────────────────────────┘

In [27]:
(
    bigmac
    .loc[lambda df_: df_['date'] >= "2023-01-01", ["name", "dollar_price"]]
    .sort_values("dollar_price", ascending=False)
)

                      name  dollar_price
1676           Switzerland      7.257759
1683               Uruguay      6.849840
1662                Norway      6.589519
1675                Sweden      5.618967
1643               Denmark      5.409278
1682         United States      5.360000
1631             Argentina      5.305937
1645             Euro area      5.285481
1632             Australia      5.110888
1670          Saudi Arabia      5.060594
1652                Israel      5.054034
1674             Sri Lanka      4.991019
1641            Costa Rica      4.963923
1681  United Arab Emirates      4.900626
1660           New Zealand      4.876875
1638                 Chile      4.747478
1636               Britain      4.667200
1655                Kuwait      4.584903
1637                Canada      4.573524
1642        Czech Republic      4.511145
1634               Bahrain      4.509284
1656               Lebanon      4.473684
1671             Singapore      4.469189
1635                Brazil      4.439619
1661             Nicaragua      4.224966
1658                Mexico      4.193651
1640              Colombia      4.157913
1667                Poland      4.092408
1647              Honduras      4.048583
1679                Turkey      3.988195
1673           South Korea      3.966166
1678              Thailand      3.899764
1668                 Qatar      3.844306
1649               Hungary      3.755544
1663                  Oman      3.688312
1665                  Peru      3.578140
1639                 China      3.537710
1654                Jordan      3.520879
1646             Guatemala      3.442209
1664              Pakistan      3.388358
1659               Moldova      3.184527
1653                 Japan      3.151422
1685               Vietnam      3.070362
1657              Malaysia      3.010151
1672          South Africa      2.899477
1633            Azerbaijan      2.878120
1666           Philippines      2.847433
1669               Romania      2.721931
1684             Venezuela      2.718743
1648             Hong Kong      2.681753
1650                 India      2.533195
1680               Ukraine      2.492077
1677                Taiwan      2.469624
1651             Indonesia      2.350966
1644                 Egypt      1.842855